<div class="card">

    <div class="card-header card-header-primary">
        <h4 class="card-title">My Datasets</h4>
    </div>

    <div class="card-body">
        {{> addDatasetModal}}
        <table class="table" id="datasetsTable">
            <thead>
                <tr>
                    <th scope="col">Dataset Name</th>
                    <th scope="col">Last Modified</th>
                    <th scope="col">Used In</th>
                </tr>
            </thead>
            <tbody id="datasets-body">
            </tbody>
        </table>

        
    </div>
    
</div>
<script>

var UserID = localStorage.getItem("userID");

    $(document).ready(function(){
        populateDatasets(UserID);
    });

    function populateDatasets(user) {
        console.log(user);
        var userId = user || "";
        if (userId) {
            userId = "/?username=" + userId;
        }
        $.get("/api/datasets" + userId, function(data) {
        console.log("Datasets", data);
        });
    }

</script>