<div class="card">

    <div class="card-header card-header-primary">
        <h4 class="card-title">My Datasets</h4>
    </div>

    <div class="card-body">
        {{> addDatasetModal}}
        <table class="table" id="datasetsTable">
            <thead>
                <tr>
                    <th scope="col">Dataset Name</th>
                    <th scope="col">Last Modified</th>
                    <th scope="col">Used In</th>
                </tr>
            </thead>
            <tbody id="datasets-body">
            </tbody>
        </table>
    </div>
</div>
<script>

var UserID = localStorage.getItem("userID");
var datasets;
    $(document).ready(function(){

        populateDatasets(UserID);

        function populateDatasets(user) {

            var userId = user || "";
            if (userId) {
                userId = "/?User_id=" + userId;
            }

            $.get("/api/datasets" + userId, function(data) {
                data.forEach(function(set){
                    var trow = $("<tr>");
                    var dname = $("<td>").text("DS_"+set.id).appendTo(trow);
                    var dmod = $("<td>").text(set.updatedAt).appendTo(trow);
                    $("<tr>").text("-").appendTo(trow);
                    trow.appendTo("#datasets-body");
                });
            });
        }
    });


</script>