 <h4>Does your data have headers?</h4>
 <button type="button" class="btn btn-primary" onclick="headerCheck(true)">Yes</button>
  <button type="button" class="btn btn-danger" onclick="headerCheck(false)">No</button>