{{!-- <h3>Specify your delimiter(s)</h3>
<div class="d-flex justify-content-center">
    <div class="form-group" style="max-width:75px">
        <label for="manualDataDelims">Delimiters</label>
        <input type="text" class="form-control text-center" id="manualDataDelims" placeholder="Ex: ,-;">
    </div>
</div> --}}
<h3>Add your data here</h3>
<p>Each line is one row<p>
<p>Press enter to begin a new row<p>
<div class="form-group">
    <label for="manualDataField">Add Data</label>
    <textarea class="form-control" rows="5" id="manualDataField" placeholder="Ex:&#10;Name, Address, Date &#10;Travis, Hell, Forever"></textarea>
</div> 