<h3>Which set do you want to clone?</h3>
<select id="dataset-options">
</select>
<script>

    var userId = "/?User_id=" + localStorage.getItem("userID");

    $.get("/api/datasets" + userId, function(data) {
        var i = 1;

        datasets = Object.assign({},data);

        data.forEach(function(set){
            var datasetOption = $("<option>").attr("value",i).text("DS_"+i).appendTo("#dataset-options");
            i++;
        });
    });


</script>