<h3>Select your file.</h3>
<div class="file-upload">
  <button class="file-upload-btn" type="button" onclick='$(".file-upload-input").trigger( "click" )'>Add Dataset File (.tsv or .csv or .txt)</button>
  <div class="file-upload-wrap">
    <input class="file-upload-input" type='file' onchange="readURL(this)" accept=".tsv,.csv"/>
    <div class="drag-text">
      <h3>I crave files... Feed me, seymour</h3>
    </div>
  </div>
  <div class="file-upload-content">
    <div class="file-title-wrap">
      <button type="button" onclick="removeUpload()" class="remove-file">Remove <span class="file-title">Uploaded File</span></button>
    </div>
  </div>
</div>
<script>
    function readURL(input) {
    if (input.files && input.files[0]) {
  
      var reader = new FileReader();
  
      reader.onload = function(e) {
        $('.file-upload-wrap').hide();
        $('.file-upload-btn').hide();
  
        $('.file-upload-file').attr('src', e.target.result);
        $('.file-upload-content').show();
  
        $('.file-title').html(input.files[0].name);
      };
  
      reader.readAsDataURL(input.files[0]);
  
    } else {
      removeUpload();
    }
  }
  
  function removeUpload() {
    $('.file-upload-input').remove();
    var newInput = $('<input class="file-upload-input" type="file" onchange="readURL(this);" accept=".tsv,.csv"/>').prependTo(".file-upload-wrap");
    $('.file-upload-content').hide();
    $('.file-upload-btn').show();
    $('.file-upload-wrap').show();
    $('.file-upload-wrap').removeClass('file-dropping');
  }
  $('.file-upload-wrap').bind('dragover', function () {
          $('.file-upload-wrap').addClass('file-dropping');
      });
      $('.file-upload-wrap').bind('dragleave', function () {
          $('.file-upload-wrap').removeClass('file-dropping');
  });
</script>