<h3>Select your file.</h3>
<div class="file-upload">
  <button class="file-upload-btn" type="button" onclick='$(".file-upload-input").trigger( "click" )'>Add Dataset File (.tsv or .csv or .txt)</button>
  <div class="file-upload-wrap">
    <input class="file-upload-input" type='file' id="file" onchange="readURL(this)" accept=".csv"/>
    <div class="drag-text">
      <h3>I crave files... Feed me, seymour</h3>
    </div>
  </div>
  <div class="file-upload-content">
    <div class="file-title-wrap">
      <button type="button" onclick="removeUpload()" class="remove-file">Remove <span class="file-title">Uploaded File</span></button>
    </div>
  </div>
</div>
<script>
    function readURL(input) {
    if (input.files && input.files[0]) {
  
      var reader = new FileReader();
  
      reader.onload = function(e) {
        $('.file-upload-wrap').hide();
        $('.file-upload-btn').hide();
  
        $('.file-upload-file').attr('src', e.target.result);
        $('.file-upload-content').show();
  
        $('.file-title').html(input.files[0].name);
      };
  
      reader.readAsDataURL(input.files[0]);
  
    } else {
      removeUpload();
    }
  }
  
  function removeUpload() {
    $('.file-upload-input').remove();
    var newInput = $('<input class="file-upload-input" type="file" id="file" onchange="readURL(this);" accept=".tsv,.csv"/>').prependTo(".file-upload-wrap");
    $('.file-upload-content').hide();
    $('.file-upload-btn').show();
    $('.file-upload-wrap').show();
    $('.file-upload-wrap').removeClass('file-dropping');
  }
  $('.file-upload-wrap').bind('dragover', function () {
          $('.file-upload-wrap').addClass('file-dropping');
      });
      $('.file-upload-wrap').bind('dragleave', function () {
          $('.file-upload-wrap').removeClass('file-dropping');
  });
  
</script>
<style>
    .file-upload {
        background-color: #ffffff;
        min-width: 200px;
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .file-upload-btn {
        width: 100%;
        margin: 0;
        color: #fff;
        background: #1FB264;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #15824B;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    .file-upload-btn:hover {
        background: #1AA059;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }
    
    .file-upload-btn:active {
        border: 0;
        transition: all .2s ease;
    }
    
    .file-upload-content {
        display: none;
        text-align: center;
    }
    
    .file-upload-input {
        position: absolute;
        margin-left: 0;
        padding: 0;
        width: 100%;
        min-height: 100%;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }
    
    .file-upload-wrap {
        margin-top: 20px;
        border: 4px dashed #1FB264;
        position: relative;
    }
    
    .file-dropping,
    .file-upload-wrap:hover {
        background-color: #1FB264;
        border: 4px dashed #ffffff;
    }
    
    .file-title-wrap {
        padding: 0 15px 15px 15px;
        color: #222;
    }
    
    .drag-text {
        text-align: center;
    }
    
    .drag-text h3 {
        font-weight: 100;
        text-transform: uppercase;
        color: #15824B;
        padding: 60px 0;
    }
    
    .file-upload-file {
        max-height: 200px;
        max-width: 200px;
        margin: auto;
        padding: 20px;
    }
    
    .remove-file {
        width: 200px;
        margin: 0;
        color: #fff;
        background: #cd4535;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #b02818;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    .remove-file:hover {
        background: #c13b2a;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }
    
    .remove-file:active {
        border: 0;
        transition: all .2s ease;
    }
</style>


