<h3>Which set do you want to clone?</h3>
<select>
    <option value="1">Set 1</option>
    <option value="2">Set 2</option>
    <option value="3">Set 3</option>
    <option value="4">Set 4</option>
</select>