<div class="sidebar" data-color="purple" data-background-color="white" data-image="#">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
        <a href="/" class="simple-text logo-normal">
            DASH
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active  ">
                <a class="nav-link" href="/">
                    <i class="material-icons">home</i>
                    <p>Home</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/user">
                    <i class="material-icons">person</i>
                    <p>User Profile</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/createdash">
                    <i class="material-icons">add_box</i>
                    <p>Create a Dash</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/datasets">
                    <i class="material-icons">data_usage</i>
                    <p>My Datasets</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/dashboard">
                    <i class="material-icons">dashboard</i>
                    <p>My Dashboards</p>
                </a>
            </li>
        </ul>
    </div>
</div>