<div class="wrapper ">
  {{> sidebar}}
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="#">Create a Dash</a>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="content">

      <div class="container-fluid">
        <div class="row text-center">
          <div class="col-sm-12 col-md-8 col-lg-5">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Upload Spreadsheet</h4>
              </div>
              <div class="card-body">
                <div class="form-group form-file-upload form-file-simple">
                  <input type="text" class="form-control inputFileVisible" placeholder="Simple chooser...">
                  <input type="file" class="inputFileHidden">
                </div>

                <div class="form-group form-file-upload form-file-multiple">
                  <input type="file" multiple="" class="inputFileHidden">
                  <div class="input-group">
                    <input type="text" class="form-control inputFileVisible" placeholder="Single File">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-fab btn-round btn-primary">
                        <i class="material-icons">attach_file</i>
                      </button>
                    </span>
                  </div>
                </div>

                <div class="form-group form-file-upload form-file-multiple">
                  <input type="file" multiple="" class="inputFileHidden">
                  <div class="input-group">
                    <input type="text" class="form-control inputFileVisible" placeholder="Multiple Files" multiple>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-fab btn-round btn-info">
                        <i class="material-icons">layers</i>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-4 col-lg-2 my-auto">
            <hr>
            <h1>OR</h1>
            <hr>
          </div>

          <div class="col-sm-12 col-md-8 col-lg-5">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Manual Entry</h4>
              </div>
              {{> tableEditor}}
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            Select your Chart Type and Data
          </div>
          <div class="card-body">
            <span>Select Your Chart Type</span>
            <br>
            <span>Line</span>
            <input type="radio" name="chart-type" value="Line" />
            <br>
            <span>Bar</span>
            <input type="radio" name="chart-type" value="Bar" />
            <br>
            <span>Pie</span>
            <input type="radio" name="chart-type" value="Pie" />
            <br>
            <span>Donut</span>
            <input type="radio" name="chart-type" value="Donut" />
            <br>
            <br>
            <span>Choose your Data Set</span>
            <br>
            <form method="POST" action="uploadFile" enctype="multipart/form-data">
              <strong>Upload file:</strong>
              <input type="file" name="file"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>