<div class="wrapper ">
  {{> sidebar}}
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="#">Create a Dash</a>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="content">

      <div class="container-fluid">
        <div class="row text-center">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Your Data (sample)</h4>
              </div>
              <div class="card-body">
                <table class="table table-responsive">
                  <thead>
                    <tr id="sample-table-head">
                      <th class="text-center">#</th>
                      <th>Name</th>
                      <th>Job Position</th>
                      <th>Since</th>
                      <th class="text-right">Salary</th>
                      <th class="text-right">Actions</th>
                    </tr>
                  </thead>
                  <tbody id="sample-table-body">
                    <tr>
                      <td class="text-center">1</td>
                      <td>Andrew Mike</td>
                      <td>Develop</td>
                      <td>2013</td>
                      <td class="text-right">&euro; 99,225</td>
                      <td class="td-actions text-right">
                        <button type="button" rel="tooltip" class="btn btn-info">
                          <i class="material-icons">person</i>
                        </button>
                        <button type="button" rel="tooltip" class="btn btn-success">
                          <i class="material-icons">edit</i>
                        </button>
                        <button type="button" rel="tooltip" class="btn btn-danger">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">2</td>
                      <td>John Doe</td>
                      <td>Design</td>
                      <td>2012</td>
                      <td class="text-right">&euro; 89,241</td>
                      <td class="td-actions text-right">
                        <button type="button" rel="tooltip" class="btn btn-info btn-round">
                          <i class="material-icons">person</i>
                        </button>
                        <button type="button" rel="tooltip" class="btn btn-success btn-round">
                          <i class="material-icons">edit</i>
                        </button>
                        <button type="button" rel="tooltip" class="btn btn-danger btn-round">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">3</td>
                      <td>Alex Mike</td>
                      <td>Design</td>
                      <td>2010</td>
                      <td class="text-right">&euro; 92,144</td>
                      <td class="td-actions text-right">
                        <button type="button" rel="tooltip" class="btn btn-info btn-simple">
                          <i class="material-icons">person</i>
                        </button>
                        <button type="button" rel="tooltip" class="btn btn-success btn-simple">
                          <i class="material-icons">edit</i>
                        </button>
                        <button type="button" rel="tooltip" class="btn btn-danger btn-simple">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-12 col-md-8 col-lg-6">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Create a Chart</h4>
              </div>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <div class="form-check form-check-radio form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                          value="line"> Line
                        <span class="circle">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                    <div class="form-check form-check-radio form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                          value="bar"> Bar
                        <span class="circle">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                    <div class="form-check form-check-radio form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                          value="pie"> Pie
                        <span class="circle">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                    <div class="form-check form-check-radio form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                          value="donut"> Donut
                        <span class="circle">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="exampleFormControlSelect2">Data X-Value</label>
                        <select class="form-control" id="x-option">
                        </select>
                      </div>

                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="exampleFormControlSelect2">Data Y-Value</label>
                        <select class="form-control" id="y-option">
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect2">Graph Color</label>
                    <select class="form-control" id="color-option">
                      <option>Blue</option>
                      <option>Green</option>
                      <option>Red</option>
                      <option>Purple</option>
                      <option>Orange</option>
                    </select>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="js/createdash.js"></script>