<!-- Home page HERE, including main navigation with anchor links, description of product, link to login or signup -->

<h2>Hello World</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum nihil deleniti magni necessitatibus aliquid eius, eos pariatur minus nemo ipsa ab, soluta cumque voluptatibus rem, debitis sequi hic quis? Laboriosam.</p>

{{> linechart}}
{{> barchart}}
{{> donutchart}}
{{> piechart}}